<h1>Help</h1>
<p>
	Get help on the ruby on rails tutorial at the
	<a href="https://ww.railstutorial.org/help">Ruby on rails</a>
	To get help on this sample app,see the book
	<a href="https://ww.railstutorial.org/book">Ruby on rails</a>

</p>